/* Metabox */
#cdm_search_section .ui-sortable-handle{
	background: #0073aa;
	color: #fff;
}
#cdm_search_section .handlediv.button-link{
	color:#fff;
	outline-color: #fff;
}
/* Search  */
#cdm_search div a {
	text-decoration: none;
	
}
#searchicon {
	cursor:pointer;
	height: 31px;
	line-height: 31px;
}
.cdm-search-input{
	padding: 6px;
	min-width: 75%;
}
#waitElem{
	padding: 6px;
}
#waitElem img{
	vertical-align: bottom;
}

/* Results */
#list-total.active{
	padding: 1em 0;
}
#cdm-results.active{
	padding-top: 4em;
}
#cdm-results{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
#cdm-results .list-item a.thickbox{
	display: block;
}
#cdm-results .list-item a.thickbox:focus{
	outline: none;
	box-shadow: none !important;
}

#cdm-results .list-item .img-container{
	height: 120px;
	overflow: hidden;
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}


#cdm-results .list-item{
	width: 20%;
	padding: 1%;
	margin: 1%;
	border:1px solid #ccc;
	box-sizing: border-box;
	flex-grow: 1;
}

p.model{
	margin: 1em 0 0;
}

@media all and (max-width: 1250px){
	#cdm-results .list-item{
		width: 27%;
	}
}
@media all and (max-width: 1050px){
	#cdm-results .list-item{
		width: 45%;
	}
}
@media all and (max-width: 650px){
	#cdm-results{
		display: block;
	}
	#cdm-results .list-item{
		width: 97%;
	}
}

#cdm-results .list-item:hover,
#cdm-results .list-item a.thickbox:focus { 
    background-color: #0073aa;
}
#cdm-results .list-item:hover p,
#cdm-results .list-item a.thickbox:focus p { 
    color:#fff;
}

/* Modal */
#TB_ajaxContent {
	width: auto !important;
	overflow-y: scroll;
	box-sizing: border-box;
}
.downloadlinks {
	margin: 1em 0;
}
#mediumView {
	margin-top: 1em;
	padding-bottom: 2em;
}
#mediumView > div{
	padding-bottom: 2em;
}
#mediumView .img-container{
	height: 30em;
	overflow: hidden;
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
	margin-bottom: 1em;	
}
.downloadlinks a.saveImage{
	display:inline-block;
	margin: 0 auto .5em;
    height: 30px;
    line-height: 28px;
    padding: 0 12px;	
    background: #0085ba;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;    
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}
.downloadlinks a.saveImage.working{
	opacity: .5;
}
.view-in-cdm{
	margin-left: 1em;
}
