.cdm-criteria, .cdm-left, #cdm-advanced-search {
	background-color: #FAF3E9;
	border-radius: 5px;
}

.cdm-left, .cdm-right, .cdm-criteria, #cdm-advanced-search {
	padding: 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.cdm-criteria {
	margin-bottom: 1em;
}

.cdm-criteria ul {
	margin-bottom: 1em !important;
}

.cdm-header {
	font-weight: bold;
}

.cdm-result-count {
	margin-top: 0.5em;
}

.cdm-result-count + .cdm-pager {
	margin-top: 0;
}

.cdm-pager {
	margin: 0.5em 0;
}

.cdm-result-count + .cdm-results {
	margin-top: 0.5em;
}

.cdm-pager a {
	margin: 5px;
	display: inline-block;
}

.cdm-pager a.selected {
	text-decoration: underline;
	font-weight: bold;
}

.cdm-result {
	border: 1px solid #777;
	border-radius: 5px;
	padding: 7px;
	margin-bottom: 15px;
	overflow: hidden;
}

.cdm-author {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #777;
}

.cdm-title {
	font-size: 110%;
	font-weight: bold;
	margin-bottom: 5px;
}

.cdm-left {
	float: left;
	width: 70%;
}

.cdm-right {
	float: left;
	width: 30%;
}

.cdm-actual-price {
	font-weight: bold;
}

.cdm-price {
	margin-top: 2em;
}

.cdm-thumbnail {
	height: 150px; /* We can't use max-height here as it doesn't work on non-Webkit browsers. We set the height in JS instead. */
	margin-bottom: 1em;
	text-align: center;
	margin-top: -15px;
}

.cdm-thumbnail img {
	max-height: 100%;
	box-shadow: none !important; /* override some themeing */
}

.cdm-bookseller {
	font-weight: bold;
}

.cdm-buy-list {
	margin-top: 1em;
}

.cdm-buy-list ul {
	padding-left: 20px;
	margin-left: 0;
}

.cdm-buy-list li {
	margin-left: 0 !important;
}

div.cdm-advanced-search-form {
	display: table;
	font-size: 13px;
	margin-top: 0.5em;
}

.cdm-control-row {
	display: table-row;
}

.cdm-control-group {
	display: table-cell;
	text-align: right;
	white-space: nowrap;
}

.cdm-control-group label {
	padding-right: 5px;
	padding-left: 10px;
}

.cdm-controls {
	display: inline;
}

.cdm-controls .cdm-smaller {
	width: 4em;
}

.cdm-advanced-search-controls {
	text-align: center;
	margin-top: 1.5em;
}

.cdm-advanced-search-controls input {
	margin: 0 20px;
}